h1 {
	color: $btsyellow;
    font-size: 2em;
	font-weight: 300;
	margin: 0.6em 0 1em 0;
	text-align: center;

	@media (min-width: 768px) {
        font-size: 38px;
	}

	&.page-header {
		border: none;
		font-weight: 300;
		letter-spacing: 1px;
		padding: 0;
		margin: 0.6em 0 1em 0;

		@media(min-width: 768px) {
			margin-bottom: 1.2em;

			&:after, &:before {
				background: $btsyellow;
				content: "";
				display: inline-block;
				height: 2px;
				margin: 0 0.6em;
				vertical-align: middle;
				width: 0.526em;
			}
		}
	}
}

h2 {
	color: $btsyellow;
	font-size: 22px;
	font-weight: 300;
	margin: 1.5em 0 0.5em 0;

	&.page-header {
		border: none;
		color: #777;
		font-size: 24px;
		margin: -1em 0 1.5em 0;
		padding: 0;
		text-align: center;

		@media(min-width: 768px) {
			margin: -1.35em 0 1.85em 0;
		}
	}
}

h3 {
	color: $btsorange;
	font-size: 19px;
	font-weight: 300;
	margin: 1em 0 0.3em 0;
}

h4 {
	color: #777;
	font-size: 17px;
	font-weight: 400;
	margin: 0.9em 0 0.5em 0;
}

h1, h2, h3, h4 {
	a, a:visited {
		&:not(.btn) {
			color: inherit;
		}
	}
}