html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	display: flex;
	font-size: 15px;
	margin: 0;
	min-height: 100vh;
	padding: 0;

	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	width: 100%;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#site-wrapper {
	flex: 1 0;
}
