@import "../vars";
@import "../mixins";
@import "general";

body {
    color: $colour_text;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#error-wrapper {
    margin: 0 auto;
    position: relative;
    
    div#error-num {
        color: rgba($btsyellow, 0.1);
        font-size: 23em;
        font-weight: bold;
        text-align: center;
    }
    div#error-content {
        font-size: 2.5em;
        font-weight: 100;
        height: 100%;
        left: 0;
        padding: 2em 1em 1em;
        position: absolute;
        top: 3em;
        width: 100%;
        z-index: 500;
        
        div#error-link-home {
            font-size: 0.8em;
            margin-top: 1em;
            text-align: center;
            
            a {
                @include transition();
                color: #fff;
                display: inline-block;
                margin: 0 0.25em;
                opacity: 0.5;
                
                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}