*
!app
!bootstrap
bootstrap/cache/*.php
!config
!database
!packages
!public
!resources/assets
!resources/documentation
!resources/lang
!resources/views
!routes
!storage/framework/*/.gitignore
!artisan
!composer.json
!composer.lock
!package.json
!webpack.mix.js
!yarn.lock
!.docker/bin/*
!.docker/supervisor.d
