*
!app
!bootstrap
!config
!database
!packages
!public
!resources/assets
!resources/documentation
!resources/lang
!resources/views
!routes
!storage
!artisan
!composer.json
!composer.lock
!package.json
!webpack.mix.js
!yarn.lock
