# IntelliJ
/.idea

# Dependencies
/node_modules
/vendor

# Assets
/resources/assets/js/app.js
/public/mix-manifest.json
/public/app.js
/public/mix.js
/public/images/profiles/*
!/public/images/profiles/blank.jpg
/public/images/lightbox
/public/js/*
/public/css/*

# Resources
/resources/resources/*
/resources/elections/*

# Storage
/storage/temp
/storage/app/backups
/storage/google_token.json

# Tests
.phpunit.result.cache
tests/results/*

# Misc
.env
Homestead.json
Homestead.yaml
/public/storage
/public/hot
/storage/*.key
/components
npm-debug.log
