includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/pestphp/pest/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app/
        - config/
        - database/
        - modules/
        - packages/
        - routes/
        - tests/
