apiVersion: v1
kind: Service
metadata:
  name: {{ include "website-v4.fullname" . }}
  labels:
    {{- include "website-v4.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "website-v4.selectorLabels" . | nindent 4 }}
  ports:
    - port: 8080
---
{{- $root := . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "website-v4.fullname" . }}
  labels:
    {{- include "website-v4.labels" . | nindent 4 }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: default-redirect-http-to-https@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    {{- range .Values.domains }}
    - host: {{ . }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "website-v4.fullname" $root }}
                port:
                  number: 8080
            path: /
            pathType: Prefix
    {{- end }}
  tls:
    - hosts:
        {{- range .Values.domains }}
        - {{ . }}
        {{- end }}
      secretName: {{ include "website-v4.fullname" . }}-tls
