apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "website-v4.fullname" . }}
  labels:
    {{- include "website-v4.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-ssm
  refreshInterval: 15m
  data:
    - secretKey: APP_KEY
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/app-key
    - secretKey: APP_LOG_LEVEL
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/log-level
    - secretKey: DB_USERNAME
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/db-credentials
        property: username
    - secretKey: DB_PASSWORD
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/db-credentials
        property: password
    - secretKey: MAIL_USERNAME
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/smtp-credentials
        property: username
    - secretKey: MAIL_PASSWORD
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/smtp-credentials
        property: password
    - secretKey: YOUTUBE_API_KEY
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/youtube-api-key
    - secretKey: NOCAPTCHA_SITEKEY
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/nocaptcha-config
        property: siteKey
    - secretKey: NOCAPTCHA_SECRET
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/nocaptcha-config
        property: secret
    - secretKey: BUGSNAG_API_KEY
      remoteRef:
        key: /backstage/{{ .Values.environment }}/website-v4/bugsnag-api-key
