@import "../vars";
@import "../mixins";

@import "includes/anchors";

// Abbreviations
abbr {
	border-bottom: 1px dotted $btsyellow;
	
	&:hover {
		cursor: default;
	}
}

@import "includes/dropdowns";
@import "includes/forms";
@import "includes/headers";

// Horizontal rules
hr {
	border: none;
	background: $btsyellow;
	height: 1px;
	margin: 1.5em 0;
	
	&.grey {
		background: #666;
	}
	& + * {
		margin-top: 0;
	}
}

// Labels
.label {
	& > span.fa {
		margin-right: 0.3em;
	}
}

@import "includes/lists";
@import "includes/navs";
@import "includes/modal";
@import "includes/pagination";
@import "includes/panels";
@import "includes/paragraphs";
@import "includes/tables";
@import "includes/tabs";
@import "includes/tooltips";

@import "includes/snippets";
