form {
    margin-left: auto;
    margin-right: auto;
    
    .input-group {
        &.textarea {
            & > span.input-group-addon {
                padding-top: 0.75em;
                vertical-align: top;
            }
        }
        
        & ~ .invalid-feedback {
            display: block;
        }
    }
    
    [data-visibility-input] {
        margin-left: 1.25em;
        margin-right: 1.25em;
    }
    
    p.form-text {
        text-align: left;
    }
}

@import "buttons";
@import "checkboxes";
@import "controls";
@import "editables";
@import "fieldsets";
@import "groups";
@import "recaptcha";