div.alert {
    margin: 0 auto 0.5em;
    padding: 0.7em 1em 0.7em 2.1em;
    position: relative;
    text-align: left;
    
    & > button.close-notification {
        @include transition();
        height: 1em;
        line-height: 1;
        right: 0.75em;
        top: 0.7em;
        width: 1em;
        
        &:hover {
            cursor: pointer;
        }
    }
    @include fa_direct {
        display: block;
        height: 1em;
        left: 0.5em;
        position: absolute;
        text-align: center;
        top: 0.9em;
        width: 1em;
    }
    ul {
        margin: 1em 0 0.25em 0;
        padding: 0;
        
        li {
            margin-left: 1.5em;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}