h1,
.h1 {
    color: $colour_h1;
    font-size: 2rem;
    font-weight: 300;
    padding: 0;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 2.375rem;
    }

    &.page-header {
        border: none;
        margin: 0.75em 0;

        @media (min-width: 768px) {
            &:after,
            &:before {
                background: $colour_h1;
                content: "";
                display: inline-block;
                height: 2px;
                margin: 0 0.5em;
                vertical-align: middle;
                width: 0.5em;
            }
        }
    }
}

h2,
.h2 {
    color: $colour_h2;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0;

    @include media-breakpoint-up(md) {
        font-size: 1.75rem;
    }

    &.page-header {
        border: none;
        margin: -0.75em 0 0.75em 0;
        text-align: center;
    }
}

h3,
.h3 {
    color: $colour_h3;
    //font-size: 19px;
    //font-weight: 300;
}

h4,
.h4 {
    color: $colour_h4;
    //font-size: 17px;
    //font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    a,
    a:visited {
        &:not(.btn) {
            color: inherit;
        }
    }
}
