ol, ul {
    margin: 2em;
    
    li {
        list-style-position: inside;
        margin: 0.5em 0;
        
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol, ul {
        margin-bottom: 0.8em;
        margin-top: 0.8em;
        margin-left: 2.2em;
    }
}

ul {
    list-style-type: disc;
    ul {
        list-style-type: square;
        ul {
            list-style-type: circle;
            ul {
                list-style-type: disc;
                ul {
                    list-style-type: square;
                    ul {
                        list-style-type: circle;
                    }
                }
            }
        }
    }
}

ol {
    list-style-type: decimal;
    ol {
        list-style-type: lower-latin;
        ol {
            list-style-type: lower-roman;
            ol {
                list-style-type: decimal;
                ol {
                    list-style-type: lower-latin;
                    ol {
                        list-style-type: lower-roman;
                    }
                }
            }
        }
    }
}

ul, ol {
    &.no-list {
        &, & ul, & ol {
            list-style-type: none;
        }
    }
}

dl {
    dd {
        margin-bottom: 1em;
    }
}