div[role='tabpanel'], .tabpanel {
    margin: 1em auto;
    z-index: $zindex_tabs;
    
    & > .tab-links {
        background: $colour_tab_header_bg;
        border-radius: 5px 5px 0 0;
        color: $colour_tab_header_text;
        z-index: $zindex_tabs+500;
        
        & > .nav-tabs {
            border: none;
            border-radius: 5px 5px 0 0;
            margin: 0;
            padding: 0 1em;
            
            .nav-item, .nav-link {
                margin: 0;
                
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            .nav-link {
                @include transition();
                background: inherit;
                border-radius: 0;
                border: none;
                color: rgba(255, 255, 255, 0.4);
                padding: 0.75em 1.5em;
                position: relative;
    
                &:after {
                    background: transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: .3em;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
                &:hover, &:focus {
                    background: rgba(0, 0, 0, 0.1);
                    color: rgba(255, 255, 255, 0.7);
                }
                &.active {
                    color: #FFF;
                    
                    &:after {
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
                
            }
        }
    }
    & > .tab-content {
        border-radius: 0 0 5px 5px;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        
        & > .tab-pane {
            border: none;
            padding: 1em;
            
            &.tab-pane-table {
                padding: 0;
    
                & > table {
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            & > .tab-pane-inner {
                padding-left: 1em;
                padding-right: 1em;

                &:first-child {
                    padding-top: 1em;
                }
                &:last-child {
                    padding-bottom: 1em;
                }
            }
        }
    }
    &.tabs-mdl {
        & > .tab-links {
            & > .nav-tabs {
                padding: 0.75em;
                
                .nav-item {
                    margin: 0 .25em;
                
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                .nav-link {
                    border-radius: 3px;
                    padding: .6em 1.5em;
                    
                    &:after {
                        display: none;
                    }
                    &:hover, &:focus {
                        background: rgba(255, 255, 255, 0.05);
                    }
                    &.active {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
}