.btn,
a.btn {
    color: #000;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.5em;

    &.btn-bts {
        $btsyellow_darken: darken($btsyellow, 20%);
        background-color: $btsyellow;
        background-image: -webkit-linear-gradient(top, $btsyellow 0%, $btsyellow_darken 100%);
        background-image: -o-linear-gradient(top, $btsyellow 0%, $btsyellow_darken 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from($btsyellow), to($btsyellow_darken));
        background-image: linear-gradient(to bottom, $btsyellow 0%, $btsyellow_darken 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$btsyellow, endColorstr=$btsyellow_darken, GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-repeat: repeat-x;
        background-position: 0 1px;

        &:hover,
        &:focus {
            background-color: $btsyellow_darken;
            background-position: 0 -15px;
        }
    }
    &.btn-default {
        color: #000;
    }
    &.btn-success,
    &.btn-danger,
    &.btn-warning,
    &.btn-primary,
    &.btn-info {
        color: #fff;
    }

    & > span.fa:not(:last-child) {
        margin: 0 0.5em 0 0;
    }

    &.btn-lg {
        font-size: 1.125em;
    }
    &.btn-sm {
        font-size: 0.75em;
        padding: 0.25em 0.6em;
    }
    &.btn-xs {
        font-size: 0.75em;
    }
    &.btn-full {
        display: block;
        width: 100%;
    }
}

.btn-group .btn {
    margin-bottom: 0;
}

.input-group-btn {
    font-size: 1em;
    height: 100%;

    .btn {
        height: 100%;
        margin-bottom: 0;
    }
}
