.form-control {
    color: #000;
    font-size: 1em;

    &:not(textarea) {
        height: 2.533em;
    }
    &.input-sm {
        font-size: 12px;
    }
    &.input-lg {
        font-size: 18px;
    }
    &.search-input {
        display: inline-block;
        height: 2em;
        width: 10em;
    }
    &.form-control-inline {
        display: inline-block;
        width: auto !important;
    }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #bbb;
}

textarea.form-control {
    &.resize-y {
        resize: vertical;
    }
    &.no-resize {
        resize: none;
    }
}

.form-control-static {
    line-height: 1.4 !important;
    min-height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
