.editable {
    padding: 0.5em 0.75em;
    
    &[data-editable] {
        border-radius: 2px;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }
    &[data-editable="toggle"] {
        display: inline-block;
        padding: 0;
        text-align: center;
        width: 2em;
        
        &:hover {
            background: none;
        }
        &:first-child {
            margin-left: -0.75em;
        }
        &:last-child {
            margin-right: -0.75em;
        }
        span.fa {
            @include transition();
        }
        span.fa-check {
            color: $colour_success;
        }
        span.fa-remove {
            color: $colour_danger;
            opacity: 0.5;
            
            &:hover {
                opacity: 1;
            }
        }
    }
}

table [data-editable] {
    margin: -0.5em 0;
}

//span.toggle {
//    display: inline-block;
//    font-size: 0;
//    margin: -1em 0;
//    padding: 0;
//
//    &:hover {
//        background: inherit;
//    }
//    span.fa {
//        font-size: 20px;
//    }
//}

//input, textarea {
//    & + span.toggle {
//        margin-top: 0;
//    }
//}