.help-block {
    font-size: 14px;
    &.small {
        font-size: 12px;
    }
    &.large {
        font-size: 16px;
    }
    color: $btsyellow;
    font-style: normal;
    text-align: left;
    
    &.alt {
        color: #CCC;
        font-style: italic;
    }
    a {
        //color: $colour_primary;
        
        &:focus {
            //outline-color: $colour_primary;
        }
    }
}