&[page-id="award-index"] {
    table {
        [col="recurring"], [col="approved"] {
            text-align: center;
        }
        [col="approved"] {
            width: 3em;
        }
        [col="recurring"] {
            width: 6em;
            
            @media(max-width: 767px) {
                display: none;
            }
        }
        td[col="award"] {
            div.name {
                margin-bottom: 0.5em;
            }
            div.description {
                color: #999;
                font-size: 13px;
            }
            div.suggestor {
                color: $btsgold;
                margin-top: 0.5em;
                font-size: 13px;
                font-style: italic;
            }
        }
    }
}

&[page-id="season-index"] {
    div#content {
        @media(min-width: 600px) {
            width: 600px;
        }
        
        .buttons {
            & > .btn-group {
                margin-bottom: 1em;
            }
            
            @media(min-width: 768px) {
                @include clearfix();
                
                & > .btn-group {
                    margin: 0;
                    &:first-child {
                        float: left;
                    }
                    &:last-child {
                        float: right;
                    }
                }
            }
        }
        
        .table {
            [col="status"] {
                width: 10em;
            }
        }
    }
    #modal {
        div.award-list-container {
            margin-left: 1.5em;
            max-height: 200px;
            overflow-y: auto;
        }
    }
}

&[page-id="season-view"] {
    div#content {
        @media(min-width: 500px) {
            width: 500px;
        }
    }
    h3 {
        margin-bottom: 1em;
    }
    
    .closed-info {
        h3 {
            text-align: center;
        }
    }
    .award-list {
        margin-bottom: 2em;
    
        .panel-heading {
            p {
                color: #666;
                font-size: 14px;
                font-weight: normal;
                margin: 3px 0 -3px;
            }
        }
        
        .panel {
            .table {
                td {
                    vertical-align: top;
                }
                td.vote, td.result {
                    text-align: center;
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                    width: 50px;
                    
                    .vote-count {
                        color: #666;
                        font-size: 13px;
                    }
                }
                td.details {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                
                    div.reason {
                        color: #999;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    div.status-selector {
        @include clearfix();
        margin-bottom: 1em;
        
        ul {
            font-size: 14px;
        }
    }
}

&[page-id="season-nominations"] {
    .table {
        [col="approved"] {
            min-width: 2.5em;
            text-align: center;
            width: 2.5em;
        }
        [col="award"], [col="nominee"] {
            min-width: 13em;
            width: 13em;
            word-wrap: break-word;
        }
        [col="reason"] {
            min-width: 15em;
        }
    }
}