@import "../vars";

&[page-id="view-profile"] {
    div#content {
        position: relative;

        & > div#edit-tools {
            font-size: 0.8em;
            margin-top: 0;
            position: absolute;
            right: 0;
            z-index: 3800;
            top: -3em;

            @media (min-width: 768px) {
                font-size: 1em;
                top: 0;
            }
        }
        & > div {
            margin-top: 2em;

            & > div.header {
                margin-bottom: 2em;

                h1 {
                    margin: 0 0 0.3em 0;
                    text-align: center;
                }
                h3 {
                    font-size: 25px;
                    margin: 0;
                    text-align: center;
                }

                @media (min-width: 768px) {
                    div {
                        height: 150px;
                    }
                    img {
                        margin-right: 10px;
                        max-height: 100%;
                    }
                    h1 {
                        font-size: 45px;
                        margin: 20px 0 10px 0;
                        text-align: left;
                    }
                    h3 {
                        font-size: 35px;
                        margin: 0;
                        text-align: left;
                    }
                }
            }
            div#profile {
                @media (min-width: 768px) {
                    margin: 0 auto;
                    width: 500px;
                }

                div.box {
                    h1 {
                        font-size: 22px;
                        font-weight: 100;
                        text-align: left;
                    }

                    table {
                        width: 100%;
                        td {
                            font-size: 17px;
                            padding: 4px 0;
                            vertical-align: top;

                            &:first-child {
                                padding-right: 15px;
                                text-align: right;
                            }
                        }

                        span.tool-colour {
                            font-size: 1.33333em;
                            line-height: 0.75em;
                            vertical-align: -15%;
                        }
                        a {
                            color: inherit;

                            &:hover,
                            &:focus {
                                color: $btsyellow;
                            }
                        }
                    }
                }
            }
            div#events {
                @media (min-width: 768px) {
                    margin: 0 auto;
                    width: 750px;
                }
            }
            div#training-skill-categories {
                div.tab-links {
                    width: 18em;

                    ul.category-list {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    div#modal {
        div.avatar {
            & > div:first-of-type {
                text-align: right;
            }
            img {
                max-width: 150px;
            }
        }

        div.checkbox {
            margin-left: 1em;

            label {
                font-weight: normal;
            }
        }
    }
}

&[page-id="membership"] {
    .table {
        margin-bottom: 1em;
        width: 100%;

        & > tbody > tr {
            height: 3em;

            & > td {
                border: none;

                em {
                    color: inherit;
                }
            }
        }
        a,
        a:visited {
            color: $colour_text;

            &:hover {
                color: $btsyellow;
                text-decoration: none;
            }
        }
        .name {
            span.nickname,
            div.email a {
                color: #777;
            }

            div.email {
                font-size: 14px;
            }
        }
        .pic {
            padding-right: 1.5em;
            text-align: center;
            width: 4.5em;

            img {
                max-height: 2.5em;
                max-width: 2.5em;
            }
        }
        .email {
            @media (min-width: 768px) {
                width: 20em;
            }
        }
        .phone {
            width: 9em;
        }
        .tool {
            span.fa {
                font-size: 1.4em;
                &.black {
                    font-size: 1.3em;
                }
            }
            width: 5em;
        }
        @media (max-width: 768px) {
            em {
                display: none;
            }
            .pic {
                padding-right: 0;
                text-align: left;
                width: 3em;

                img {
                    max-height: 2em;
                    max-width: 2em;
                }
            }
            .name {
                font-size: 16px;
            }
        }
    }

    h3.no-members {
        font-size: 1.5em;
        text-align: center;
    }
}

&[page-id="dash"] {
    h2 {
        font-size: 16px;
        margin: 2em 0 1em;
    }
    div#dash--upcoming {
        margin-top: 5em;

        @media (min-width: 768px) {
            display: table;
            width: 100%;

            & > div.event-list {
                display: table-cell;
                padding: 0 1em;
                width: 33.333%;

                h2 {
                    margin-top: 0;
                }
            }
        }
        & > div.event-list {
            h3 {
                font-size: 15px;
                padding: 0 0.5em;
            }
            table {
                margin: 0;
                width: 100%;

                td.col--event {
                    padding-left: 0.75em;

                    div.upper {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    div#dash--central {
        @media (min-width: 768px) {
            margin: 0 auto;
            width: 600px;
        }

        & > table.event-paperwork {
            margin: 0;

            th {
                font-size: 12px;
                text-align: center;
                vertical-align: bottom;
            }
            th,
            td {
                &.paperwork-status {
                    text-align: center;
                    width: 80px;
                }
            }
            td {
                &.col--event {
                    ul {
                        color: #aaa;
                        font-size: 13px;
                        margin: 0.5em 0 0 0;

                        li {
                            list-style-type: none;
                            margin: 0 0 0 0.5em;

                            span.fa {
                                text-align: center;
                                width: 2em;
                            }
                        }
                    }
                }

                @media (min-width: 768px) {
                    font-size: 14px;
                }
            }

            @media (max-width: 767px) {
                th {
                    display: none;
                }
                td {
                    &:not(.col--event) {
                        display: none;
                    }
                }
            }
        }
        & > table.event-tem {
            margin: 0;

            td {
                &.col--venue {
                    display: none;

                    @media (min-width: 768px) {
                        display: table-cell;
                        width: 200px;
                    }
                }
            }
        }
    }
}
