&[page-id="index"] {
    table.table {
        td {
            vertical-align: middle;
        }
        .page-title {
            font-size: 1.133em;
        }
        .page-author {
            width: 20%;
        }
        .page-published {
            font-size: 20px;
            width: 2em;
            
            .fa-check {
                color: green;
            }
        }
        .page-actions {
            width: 6em;
        }
    }
}
&[page-id="create"], &[page-id="edit"] {
    div#content {
        max-width: 700px;
    }
}