div#header-wrapper {
	background: #000;
    padding: 0.5em 0;
	text-align: center;
	
	& > img {
		height: auto;
        max-width: 500px;
        
        @media (max-width: 480px) {
            width: 100%;
        }
	}
}