name: Deploy

on:
  push:
    branches:
      - main

jobs:
  push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up builder
        run: |
          docker buildx create \
            --name container \
            --driver docker-container
      - name: Log into the registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
      - name: Build and push image
        run: |
          docker buildx build \
            --builder container \
            --platform linux/amd64,linux/arm64 \
            -f .docker/prod.Dockerfile \
            -t ghcr.io/${{ github.repository }}:${{ github.sha }} \
            --push \
            .

  staging:
    runs-on: ubuntu-latest
    environment: staging
    needs: [push-image]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/helm-deploy
        with:
          k3s-url: ${{ vars.K3S_URL }}
          k3s-secret: ${{ secrets.K3S_SERVICE_ACCOUNT_SECRET }}
          environment: staging
          sha: ${{ github.sha }}

  production:
    runs-on: ubuntu-latest
    environment: production
    needs: [push-image, staging]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/helm-deploy
        with:
          k3s-url: ${{ vars.K3S_URL }}
          k3s-secret: ${{ secrets.K3S_SERVICE_ACCOUNT_SECRET }}
          environment: production
          sha: ${{ github.sha }}
